@font-face {
  font-family: "Space Grotesk";
  src: url("./fonts/SpaceGrotesk-Medium.ttf");
  font-weight: 500;
}

// active input border
$gradient-start: hsl(249, 99%, 64%);
$gradient-end: hsl(278, 94%, 30%);

// input error
$red: hsl(0, 100%, 66%);

$white: hsl(0, 0%, 100%);
$light-grayish-violet: hsl(270, 3%, 87%);
$dark-grayish-violet: hsl(279, 6%, 55%);
$very-dark-violet: hsl(278, 68%, 11%);

$grid-inline-gap: 0.5rem;
$input-gap: 0.5rem;
$card-radius: 0.5rem;

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  font-family: "Space Grotesk", sans-serif;
}

body {
  background-color: $white;
  background-image: url("./images/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 2rem 1rem;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  @media screen and (min-width: 450px) {
    flex-direction: row;
    background-image: url("./images/bg-main-desktop.png");
    align-items: center;
    justify-content: center;
  }
}

button {
  background-color: $very-dark-violet;
  color: $white;
  border: none;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  :hover {
    background: linear-gradient($gradient-start, $gradient-end);
  }
}

.card {
  &-header {
    height: 31%;
    width: 100%;
    position: relative;
    @media screen and (min-width: 450px) {
      width: 25%;
      height: 50%;
    }
    &__front,
    &__back {
      width: 300px;
      height: 164px;
      border-radius: $card-radius;
      box-shadow: 10px 10px 50px 1px rgba(0, 0, 0, 0.51);
      -webkit-box-shadow: 10px 10px 50px 1px rgba(0, 0, 0, 0.51);
      -moz-box-shadow: 10px 10px 50px 1px rgba(0, 0, 0, 0.51);
    }
    &__front {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 10;
      @media screen and (min-width: 450px) {
        top: 0;
      }
      &-bg {
        width: 100%;
      }
      &-display {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 24px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 2fr 1fr 1fr;
        grid-template-areas: "logo logo" "card card" "name date";
      }
      &-logo {
        grid-area: logo;
        height: 50%;
      }
      &-numbers {
        grid-area: card;
        color: $white;
        font-size: 18px;
        letter-spacing: 2px;
      }
      &-name {
        grid-area: name;
      }
      &-expiration {
        grid-area: date;
        justify-self: end;
      }
      &-name,
      &-expiration {
        color: $white;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 2px;
        align-self: self-end;
      }
    }
    &__back {
      position: absolute;
      top: 0;
      right: 0;
      @media screen and (min-width: 450px) {
        bottom: 0;
      }
      &-bg {
        width: 100%;
      }
      &-cvc {
        color: $white;
        font-size: 12px;
        z-index: 20;
        position: absolute;
        top: 72px;
        right: 40px;
        letter-spacing: 2px;
      }
    }
  }
  &-content {
    &__form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 1.5rem;
      column-gap: $grid-inline-gap;
      &.hide {
        display: none;
      }
    }
    &__input-group:nth-child(1),
    &__input-group:nth-child(2) {
      grid-column: 1 / span 2;
    }
    &__input-group {
      display: flex;
      flex-direction: column;
      gap: $input-gap;
      div {
        display: flex;
        gap: $grid-inline-gap;
        input {
          width: 50%;
        }
      }
      input {
        padding: 0.75rem;
        border: 1px solid $dark-grayish-violet;
        border-radius: 0.5rem;
        cursor: pointer;
        color: $very-dark-violet;
        &:focus-visible {
          border: 1px solid $gradient-end;
          outline: none;
        }
        &::placeholder {
          font-size: 1rem;
          color: $dark-grayish-violet;
        }
        &[type="number"] {
          &::-webkit-inner-spin-button {
            -webkit-appearance: none !important;
            margin: 0;
          }
          &::-webkit-outer-spin-button {
            -webkit-appearance: none !important;
            margin: 0;
          }
        }
        &.error {
          border: 1px solid $red;
        }
      }
    }
    &__label {
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      color: $very-dark-violet;
      font-size: 0.9rem;
      line-height: 1rem;
    }
    &__input-error {
      color: $red;
      font-size: 0.75rem;
      &.hide {
        display: none;
      }
    }
    button {
      grid-column: 1 / span 2;
    }
  }
  &-thank {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    &__title {
      font-size: 2rem;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
    }
    &__description {
      color: $dark-grayish-violet;
      font-size: 1.2rem;
    }
    button {
      margin-top: 1rem;
      width: 100%;
    }
    &.hide {
      display: none;
    }
  }
}
